// styles.scss

@import "./Sass/Utilities/variables";
@import "./Sass/Utilities/themes";
@import "./Sass/Components/accordion";
@import "./Sass/Components/accrediation";
@import "./Sass/Components/buttons";
@import "./Sass/Components/card";
@import "./Sass/Components/footer";
@import "./Sass/Components/nav";
@import "./Sass/Utilities/assets";
@import "./Sass/Utilities/global";


body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}


.congrats {
  background: linear-gradient(#fdbb13d2, #fdbb13d2), url(https://image.dream.snhu.edu/lib/fe9213737460007973/m/1/a43817ad-5225-43a0-bd29-0d66e87dde59.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.ink {
  color: $ink-blue !important;
}

.fs-24 {
  font-size: 24px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.fw700{
  font-weight: 700;
}
  
.bg-lg {
  background-color: #efefef;
}
  
 
  
  
 
  